@tailwind base;
@tailwind components;
@tailwind utilities;

/*Firefly - #091421
*/

/*Border colors
    blue with green #5ABCAD
    dark blue with green #314A49
    dark blue #07528D
    cyan #36C6F4
    purple with blue #616FB5
*/
html,
body {
    background-color: #091421;
    color: aliceblue;
}

#root {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.no-scroll {
    touch-action: none;
}

/*Menu*/



.border-gradient-full {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-only-bottom {
    border: 10px solid;
    border-image-slice: 0 0 14 0;
    border-width: 3px;
}

.border-gradient {
    border-image-source: linear-gradient(to left, #5ABCAD, #314A49, #07528D, #36C6F4, #616FB5);
}

.webkit-backdrop-blur {
    background: inherit !important;
    background-color: rgba(0, 0, 0, .1) !important;
    backdrop-filter: blur(24px) !important;
    -webkit-backdrop-filter: blur(24px) !important;
}

/*Menu*/
/*Bento -> Bento Intro (Desktop)*/

.desk-intro-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*Bento -> Bento Intro (Desktop)*/

/*Bento -> Bento Intro -> Mob*/
.bIParent {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    color: #091421;
}

.bIVideo {
    position: relative;
    filter: drop-shadow(0 1px #091421);
}

.bIVideo::after {
    content: "";
    position: absolute;
    inset: 4px;
    z-index: -1;
    background: conic-gradient(from 90deg at 40% -25%, #5ABCAD, #314A49, #07528D, #36C6F4, #616FB5);
    filter: blur(10px);
}

.video-wrapper {

    background-color: #091421;
    border-radius: 16px;

}

@media only screen and (min-width: 320px) {
    .bIParent {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 7.7fr) repeat(3, 6.7fr);
        grid-row-gap: 30px;
    }

    .bIVideo {
        grid-area: 1 / 1 / 2 / 2;
    }

    .bIBio {
        grid-area: 2 / 1 / 3 / 2;
    }

    .bISlogan {
        grid-area: 3 / 1 / 4 / 2;
    }

    .bIGmail {
        grid-area: 4 / 1 / 5 / 2;
    }

    .bIGit {
        grid-area: 5/ 1 / 6 / 2;
    }

    .bILinkedin {
        grid-area: 6 / 1 / 7 / 2;
    }
}

@media only screen and (min-width: 375px) {
    .bIParent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 2.5fr) repeat(3, 3fr);
        grid-row-gap: 18px;
    }

    .bIVideo {
        grid-area: 1 / 1 / 3 / 3;
    }

    .bIBio {
        grid-area: 3 / 1 / 4 / 2;
    }

    .bIGmail {
        grid-area: 4 / 1 / 5 / 2;
    }

    .bIGit {
        grid-area: 5 / 1 / 6 / 2;
    }

    .bISlogan {
        grid-area: 3 / 2 / 5 / 3;
    }

    .bILinkedin {
        grid-area: 5 / 2 / 6 / 3;
    }
}

@media only screen and (min-width: 768px) {
    .bIParent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 7.8fr) repeat(3, 9fr);
    }
}

/*grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);*/

@media only screen and (min-width: 1024px) {
    .bIParent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.5fr repeat(2, 1fr) 1.5fr;
    }

    .bIVideo {
        grid-area: 1 / 1 / 4 / 3;
    }

    .bIBio {
        grid-area: 1 / 3 / 2 / 4;
    }

    .bISlogan {
        grid-area: 2 / 3 / 4 / 4;
    }

    .bIGmail {
        grid-area: 4 / 1 / 5 / 2;
    }

    .bIGit {
        grid-area: 4 / 2 / 5 / 3;
    }

    .bILinkedin {
        grid-area: 4 / 3 / 5 / 4;
    }
}


/*Bento -> Bento Intro -> Mob*/
/*Bento -> Fruit Grainy Gradients*/

/*Peach Gradient*/

/*Red part*/
.noise-peach {
    width: 100%;
    height: 100%;
    filter: contrast(330%) brightness(100%);
    background:
        linear-gradient(110deg, rgba(221, 54, 55, 1), rgba(255, 255, 255, 0) 220px),
        url(/src/assets/svgs/noise.svg);
}


/* Chrome-specific */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise-peach {
        filter: contrast(113%) brightness(161%);
    }
}

@media only screen and (min-width: 375px) {
    .noise-peach {
        width: 100%;
        height: 100%;
        filter: contrast(330%) brightness(100%);
        background:
            linear-gradient(135deg, rgba(221, 54, 55, 1), rgba(255, 255, 255, 0) 150px),
            url(/src/assets/svgs/noise.svg);
    }


    /* Chrome-specific */
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        .noise-peach {
            filter: contrast(128%) brightness(200%);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .noise-peach {
        width: 100%;
        height: 100%;
        filter: contrast(330%) brightness(200%);
        background:
            linear-gradient(270deg, rgba(221, 54, 55, 1), rgba(255, 255, 255, 0) 150px),
            url(/src/assets/svgs/noise.svg);
    }


    /* Chrome-specific */
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        .noise-peach {
            filter: contrast(128%) brightness(200%);
        }
    }
}

/**/
/*Red part*/

/*Overlay peach*/
.overlay-peach {
    position: absolute;
    top: 0;
    background: rgb(251, 134, 1);
    mix-blend-mode: multiply;
}

/*Overlay peach*/

/*Peach Gradient*/

/*Banana Gradient*/

/*Green part*/
.noise-banana-green {
    width: 100%;
    height: 100%;
    filter: contrast(330%) brightness(100%);
    background:
        linear-gradient(257deg, rgb(105, 129, 10) -20px, rgba(0, 0, 0, 0) 200px),
        url(/src/assets/svgs/noise.svg);
}


/* Chrome-specific */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise-banana-green {
        filter: contrast(240%) brightness(150%);
    }
}

/**/
/*Green part*/

/*Overlay banana*/
.overlay-banana {
    position: absolute;
    top: 0;
    background: rgb(234, 179, 26);
    mix-blend-mode: multiply;
}

/*Overlay banana*/
/*Banana Gradient*/

/*Bento -> Fruit Grainy Gradients*/

/*Bento -> Bento Intro -> Social Media Gradients*/

.z-logo {
    position: absolute;
    z-index: 1;
}

/*Gmail*/
.noise-gmail {
    width: 100%;
    height: 100%;
    background: white;
}

.overlay-gmail {
    position: absolute;
    top: 0;
    background: rgb(250, 250, 250);
    mix-blend-mode: multiply;
}

/*Gmail*/

/*GitHub*/
.noise-github-gray {
    width: 100%;
    height: 100%;
    filter: contrast(330%) brightness(100%);
    background:
        linear-gradient(30deg, rgb(87, 91, 95), rgba(0, 0, 0, 0)),
        url(/src/assets/svgs/noise.svg);
}


/* Chrome-specific */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise-github-gray {
        filter: contrast(280%) brightness(150%);
    }
}

.overlay-github {
    position: absolute;
    top: 0;
    background: rgb(34, 38, 42);
    mix-blend-mode: multiply;
}

/*GitHub*/

/*LinkedIn*/

.noise-linkedin-blue {
    width: 100%;
    height: 100%;
    filter: contrast(330%) brightness(100%);
    background:
        linear-gradient(312deg, rgb(18, 107, 196), rgba(0, 0, 0, 0)),
        url(/src/assets/svgs/noise.svg);
}


/* Chrome-specific */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise-linkedin-blue {
        filter: contrast(280%) brightness(150%);
    }
}

.overlay-linkedin {
    position: absolute;
    top: 0;
    background: rgb(18, 107, 196);
    mix-blend-mode: multiply;
}

/*LinkedIn*/

/*Bento -> Bento Intro -> Social Media Gradients*/

/*background: #EB4132;

/*Bento -> Bento Intro -> Gmail*/

.gmail-blue {
    background: #4181EE;
}

.gmail-dark-red {
    background: #C61C19;
}

.gmail-red {
    position: absolute;
    padding: 1.39rem;
    height: 0px;
    width: 100%;
}

.gmail-red:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 50%;
    background: #E34133;
    transform: skew(0deg, 45deg);
}

.gmail-red:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 99%;
    width: 50.3%;
    background: #E34133;
    transform: skew(0deg, 315deg);
}

@media only screen and (min-width: 320px) {
    .gmail-red {
        top: 1.45rem;
        padding: 11.5%;
    }

    .gmail-red:before {
        height: 94%;
    }

    .gmail-red:after {
        height: 94%;
    }
}

@media only screen and (min-width: 375px) {
    .gmail-red {
        top: .33rem;
        padding: 17.23%;
    }
}

@media only screen and (min-width: 390px) {
    .gmail-red {
        top: .55rem;
        padding: 16.33%;
    }

    .gmail-red:before {
        height: 90%;
    }

    .gmail-red:after {
        height: 90%;
    }
}

@media only screen and (min-width: 430px) {
    .gmail-red {
        top: .88rem;
        padding: 14.55%;
    }

}

@media only screen and (min-width: 768px) {
    .gmail-red {
        top: 1.35rem;
        padding: 11.27%;
    }

    .gmail-red:before {
        height: 116%;
    }

    .gmail-red:after {
        height: 116%;
    }
}

@media only screen and (min-width: 1024px) {
    .gmail-red {
        top: 1rem;
        padding: 13.3%;
    }

    .gmail-red:before {
        height: 95%;
    }

    .gmail-red:after {
        height: 95%;
    }
}

@media only screen and (min-width: 1280px) {
    .gmail-red {
        top: 1.05rem;
        padding: 13.45%;
    }

    .gmail-red:before {
        height: 100%;
    }

    .gmail-red:after {
        height: 100%;
    }
}

@media only screen and (min-width: 1536px) {
    .gmail-red {
        top: .6rem;
        padding: 13.8%;
    }

}

@media only screen and (min-width: 1920px) {
    .gmail-red {
        top: 1.6rem;
        padding: 13%;
    }

}

.gmail-yellow {
    background: #FBBD00;
}

.gmail-green {
    background: #32A352;
}

/*Bento -> Bento Intro -> Gmail*/